@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@200&display=swap');

body{
    font-family: 'DynaPuff', cursive;
}

header h1 {
    font-size: 12px;
    color: #535151;
    padding-left: 1000px;
    display: inline-block
}

header img {
    border-radius: 50%;
}

#fotodegoogle {
    width: 20%;
    margin: auto;
    display: block;
    margin-top: 100px;
}

.box {
    border: 1px solid rgb(196, 193, 193);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-top: 30PX;
    margin-left: 400px;
    margin-right: 400px;
    padding-top: 1PX;
    padding-bottom: 1px;
    outline: none;
}

#search {
    border: none;
    outline: none;
    margin-right: 90px;
}

.box img {
    margin-left: 10px;
    margin-right: 4px;


}

#botonbusqueda {

    background: rgb(247, 245, 245);
    margin-left: 450px;
    margin-right: 5px;
    margin-top: 30px;
    border: none;
    padding-top: 10PX;
    padding-bottom: 10px;
    font-size: 15px;
    color: #4f5253;
}
#botonbusqueda:hover{
    color: #0e29a3;
}

#botonsuerte {

    background: rgb(247, 245, 245);
    margin-top: 30px;
    margin-bottom: 20px;
    border: none;
    padding-top: 10PX;
    padding-bottom: 10px;
    font-size: 15px;
    color: #4f5253;
}
#botonsuerte:hover{
    color: #0e29a3;
}
#ofrecido {

    display: inline-block;
    margin-left: 450px;
    font-size: 13px;
}

#español {
    display: inline-block;
    color: #0e29a3;
    font-size: 13px;
}

#colombia {
    margin-top: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0px;
    font-size: 13px;
    color: #7f7f80;
    border-bottom: 1px solid;
    color: #7f7f80;
}

footer {
    background: rgb(252, 249, 249);
}

#publicidad {

    display: inline-block;
    margin-left: 0px;
    font-size: 13px;
    color: #7f7f80;

}

#funciona {
    display: inline-block;
    color: #7f7f80;
    font-size: 13px;
    margin-left: 600px;
}